doctype html
html
	head
		title Login
		meta(charset="utf-8")
		link(rel='stylesheet', href='/stylesheets/css/login.css')
	body
		div(id="fb-root")
		script(async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v17.0&appId=809650997414025&autoLogAppEvents=1" nonce="lujYqSM0")
		script(src="https://accounts.google.com/gsi/client" async defer>)
		div(class="box-form")
			div(class="left")
				div(class="overlay")
					h1 Inquirições de Génere
					p
					span
						p Login with social media
						div(class="fb-login-button" data-width="300" data-size="medium" data-button-type="" data-layout="" data-auto-logout-link="false" data-use-continue-as="false")
						a(href="/login/google") Sign in with Google
			div(class="right")
				h5 Login
				p
					| Don't have an account?&nbsp; 
					a(href="/register") Create Your Account&nbsp;
					| it takes less than a minute
				div(class="inputs")
					form(action="/login", method="POST")
						input(type="text", name="username" placeholder="username")
						br
						input(type="password", name="password", placeholder="password")
						br
						br
						button(type="submit") Login